<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Specific Animal</title>
</head>
<body>
    <% if(messages.errors) { %>
        <% for (var x of messages.errors) { %>
            <h3><%= x %></h3>
        <% } %>
    <% } %>
    <h1><%= animals.animal%></h1>
    <a href="/mongooses/<%=animals.id%>/edit">Edit Animal</a>
    <br>
    <a href="/mongooses/<%=animals.id%>/destroy">Delete Animal</a>
    <br>
    <a href="/">Go Back Home</a>
</body>
</html>